rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /casas/{casaId} {
      // Leitura pública
      allow read: if true;

      // Permite criar e atualizar se os campos obrigatórios existirem e forem válidos
      allow create, update: if request.resource.data.nome is string
                         && request.resource.data.preco is number;

      // Permite exclusão (para poder remover imóveis pelo app)
      allow delete: if true;
    }
  }
}
